body {
    text-align: center;
    font-size: 30px;
    background-color:black;
    color: white;
}

#p1 {
    font-size: 30px;





}

span {
    line-height: 300%;





}

div {
    line-height: 300%;





}

h1 {

    text-decoration: underline;
}

#but41 {

    height: 50px;
    width: 500px
}

#img1 {




}
.ibox {
 color: white;
background-color: #000080; 
font-size:20px;
height: 45px;
width: 125px;
}
    
    #but42 {
     height: 45px;
     width: 125px; 
    background-color: aqua
    }
#but41 {
      
    background-color: aqua
    }
        
        
        
        
        
        
        
        
    
    




    
    
    
    
    
    


    
    
    
    
